{% extends "index.html" %}
{% block content %}{{super()}}
<p>A <span class='issues'>colored heading</span> only indicates issues
with the application's own asset definition, a non-colored heading doesn't
mean there are no issues with the application's dependencies, check
the map link.</p>
<table>
<tr>
  <th></th>
  <th></th>
  <th></th>
  <th>Type</th>
  <th>Name</th>
  <th>Description</th>
  <th>Link</th>
</tr>
{% for app in applications %}
<tr class="{{loop.cycle('odd','odd','odd','even','even','even')}}">
<td class='hide'><a target="_def_{{app.id}}" href="{{top}}{{app._reppath}}">def</a></td>
<td class='hide'><a target="_def_{{app.id}}" href="{{top}}_{{app.id}}.html">deps</a></td>
<td class='hide'><a target="_map" href="{{top}}index.html#{{app.id}}">map</a></td>
<td>{{(app.type.split('/'))[1]}}</td>
<td><span class='{{app._class}}'>{{app.name}}</span></td>
<td>{{app.description}}</td>
<td><a target="_{{app.id}}" href="{{app.location}}">{{app.location}}</a></td>
</tr>
{% endfor %}
</table>
{% endblock %}
