{% extends "index.html" %}
{% block content %}{{super()}}
<p>In addtion to the <a href="{{top}}index.html">map of everything</a> and the
individual asset type maps linked below, there's a
<a href="{{top}}_unapplied.html">map of things not used by applications</a>.
</p>
{% for at in asset_types %}
<h3>{{at.id}} <span class="prefix">{{at.prefix}}_</span></h3>
<img src="__{{at.id|replace('/', '-')}}.svg" style="float:right; margin-right: 50%"/>
<p>{{at.description}}</p>
<div>Depends on: <code>{{at.depends}}</code></div>
<div>Required fields: <code>{{at.fields}}</code></div>
<div>Tags: <code>{{at.tags}}</code></div>
<div>See [<a href="{{top}}_{{at.id|replace("/", "_")}}.html">{{at.id}} map</a>]</div>
{% endfor %}
{% endblock %}


