<div class='asset'>
<h2>{{asset.id}}: {{asset.name}}</h2>
{% for type_, reason in issues %}
<div class='issue'><span class='issue_key'><span class='issue_{{type_}}'>{{type_}}:</span></span>
<span class='issue_val'>{{reason}}</span></div>
{% endfor %}
{% for k in keys %}
<div class='keyval'><span class='key'>{{k}}:</span> <span class='value'>{{keys[k]}}</span></div>
{% endfor %}
{% for i in lists %}
<div class='list'><span class='listhead'>{{i|upper}}</span></div>
{% for item in lists[i] %}
<div class='item'>{{item}}</div>
{% endfor %}
{% endfor %}
<hr/>
{% if dependencies %}
<div>Dependencies</div>
{% for dep in dependencies %}
{% if dep.link %}
<div><a href="{{top}}{{dep.link}}">{{dep.text}}</a></div>
{% else %}
<div>{{dep.text}}</div>
{% endif %}
{% endfor %}
{% endif %}
{% if dependents %}
<div>Dependents</div>
{% for dep in dependents %}
{% if dep.link %}
<div><a href="{{top}}{{dep.link}}">{{dep.text}}</a></div>
{% else %}
<div>{{dep.text}}</div>
{% endif %}
{% endfor %}
{% endif %}
<div>
[<a href="{{edit_url}}">edit</a>]
[<a href="_{{asset.type|replace('/','_')}}.html">all {{asset.type}} assets</a>]
{% if dep_map and asset.type.startswith('application/') %}
[<a href="_{{asset.id}}.html">dependency map</a>]
{% endif %}
</div>

