<html>
<head>
<title>{{title}}</title>
<style>
* {
  font-family: sans-serif;
  }
pre, code {
  font-family: monospace;
  font-size: 125%;
  }
code {
  background: #f0f0ff;
  border solid 1px #d0d0d0;
  border-radius: 4px;
  padding: 0.1em;
  }
.footer {
  margin-top: 1em;
  }
.issues {
  background: pink;
  }
.storage {
  margin-bottom: 0.5em;
  }
.prefix {
  color: #408f40;
  font-weight: bold;
  font-family: monospace;
  }
</style>
</head>
<body>
{% block content %}
{% endblock %}
<div class="footer">Generated: {{generated}}</div>
</body>
</html>
