<table>
{% for asset in assets %}
<tr class="ctrl_wrapper {{loop.cycle('odd','odd','odd','even','even','even')}}">
{{prefix}}
<td><span class='{{asset._class}}'>{{asset.id}}</span>
<div class="ctrl_content">        
<a target="_def_{{asset.id}}" href="{{top}}{{asset._reppath}}">def</a>
{% if not prefix %}<a target="_map" href="{{top}}{{asset._map_page}}#{{asset.id}}">map</a>{% endif %}
<a href="{{asset._edit_url}}">edit</a>
</div>
</td>
<td>{{asset.name}}</td>
<td>{{asset.description}}</td>
<td>{{asset.type}}</td>
</tr>
{% endfor %}
</table>
