{% extends "index.html" %}
{% block extrahead %}{{super()}}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="./jquery-ui/jquery-ui.min.js"></script>
<link href="./jquery-ui/jquery-ui.min.css" rel="stylesheet">
<link href="./jquery-ui/jquery-ui.theme.min.css" rel="stylesheet">
<script>

let a2s = {{asset_map}};
let jQ = jQuery;
function hilite() {

   let geoms = "polygon, ellipse, path, polyline";
   let frag = window.location.hash.replace('#', '');
   if (frag in a2s) {
       jQ("#graph0 g.node").find(geoms).css({stroke: '#808080'});
       let node = jQ(`#${a2s[frag]}`).find(geoms);
       node.css({stroke: 'green'});
       let y = node.offset().top;
       let w = window.innerHeight;
       jQ([document.documentElement, document.body]).scrollTop(y-w/2);
   }
   function content() {
       return jQ(this).parent().attr("xlink:xtitle")
   }
   // https://stackoverflow.com/a/18238005/1072212
   function close(event, ui) {
            ui.tooltip.hover(
            function () {
                $(this).stop(true).fadeTo(400, 1);
            },
            function () {
                $(this).fadeOut("400", function () {
                    $(this).remove();
                })
            });
        }
   jQ(document).tooltip({items:"text", content: content, close: close})
}

jQ(hilite);
jQ(window).on("hashchange", hilite)

</script>
{% endblock %}
{% block content %}{{super()}}
<h4>{{subset}}</h4>
{{imap}}
{% endblock %}
{% block extrafoot %}{{super()}}
{% if theme.name == 'light' %}
<a style="float: right" target="_map" href="{{top}}dark/index.html">(dark theme)</a>
{% else %}
<a style="float: right" target="_map" href="{{top}}../index.html">(light theme)</a>
{% endif %}
{% endblock %}
